@font-face {
  font-family: "Mercy";
  src: url("./assets/fonts/mercy.regular.ttf") format("truetype");
  }
@font-face {
  font-family: "Alegreya";
  src: url("./assets/fonts/alegreya.regular.ttf") format("truetype");
}

  h1, h2, h3, h4, h5, h6, nav {
    font-family: "Mercy", Arial, Helvetica, sans-serif;
  }

  main, footer {
    font-family: "Alegreya", 'Times New Roman', Times, serif;
  }

  main {
    padding-bottom: 2.5rem;
    height: 100%;
  }

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
