@font-face {
  font-family: "Mercy";
  src: url("./assets/fonts/mercy.regular.ttf") format("truetype");
  }
@font-face {
  font-family: "Alegreya";
  src: url("./assets/fonts/alegreya.regular.ttf") format("truetype");
}

  h1, h2, h3, h4, h5, h6, nav {
    font-family: "Mercy", Optima light, Segoe light, Segoe UI light, Candara light, Calibri light, Arial light, sans-serif;
  }

  #root {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  main, footer {
    font-family: "Alegreya", 'Times New Roman', Times, serif;
  }

  main {
    padding-bottom: auto;
    margin-bottom: 2.5rem;
  }
